.Container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.Container input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #00000020;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.Container input:focus {
  outline: none;
}

.Container button {
  font-size: 16px;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #3cb371;
}

.Container button:hover {
  background-color: #35a365;
}

.Container button:active {
  background-color: #2e8b57;
}
