.PageContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.PageContent {
  display: flex;
  width: 100%;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px #0000002a;
}

.PageContent h1 {
  margin: 0px;
  align-self: center;
}

.PageContent input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #00000020;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  align-self: stretch;
}

.Button {
  font-size: 16px;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #3cb371;
  align-self: stretch;
}

.Button:hover {
  background-color: #35a365;
}

.Button:active {
  background-color: #2e8b57;
}
