html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.base-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.header-layout {
  display: flex;
  justify-content: center;
  padding: 18px;
  gap: 10px;
  background-color: rgb(54, 185, 98);
}

.divider-layout {
  border-color: rgba(0, 0, 0, 0.39);
}

.header-layout a {
  padding: 8px;
  border-radius: 5px;
  color: white;
}
.header-layout a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
